<html>

<head>
    <title>Call-Manager 테스트</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/audio_stream.js" type="text/javascript"></script>
    <script type="text/javascript">

        jQuery.fn.serializeObject = function () {
            var obj = null;
            try {
                if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                    var arr = this.serializeArray();
                    if (arr) {
                        obj = {};
                        jQuery.each(arr, function () {
                            obj[this.name] = this.value;
                        });
                    }//if ( arr ) {
                }
            } catch (e) {
                alert(e.message);
            } finally {
            }

            return obj;
        };


        function submitform(cmd) {
            var formData = JSON.stringify($("#myForm").serializeObject());
            //var formData = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "http://{{.IP}}:5000/call/" + cmd,
                //url: "http://127.0.0.1:5000/call/" + cmd,
                data: formData,
                success: function (ret) {
                    console.log(ret)
                    //
                    document.getElementById('result').innerHTML = JSON.stringify(ret);
                },
                error: function (ret) {
                    console.log(ret)
                    //
                    document.getElementById('result').innerHTML = ret.responseText
                },
                dataType: "json",
                contentType: "application/json"
            });

        }
        function submitDirectform(cmd) {
            StartAudioStream('10.122.64.152', 5800, '6005', 'admin', true);
            var formData = JSON.stringify($("#myForm").serializeObject());
            //var formData = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "http://{{.IP}}:5000/call/" + cmd,
                data: formData,
                success: function (ret) {
                    console.log(ret)
                    //
                    document.getElementById('result').innerHTML = JSON.stringify(ret);
                },
                error: function (ret) {
                    console.log(ret)
                    //
                    document.getElementById('result').innerHTML = ret.responseText
                },
                dataType: "json",
                contentType: "application/json"
            });

        }
    </script>

</head>

<body>
    <div>
        <form id="myForm">
            call start 테스트
            <input type="text" name="contractNo" value="contractNo">
            <input type="text" name="campaignId" value="campaignId">
            <input type="text" name="dialNo" value="6006">
            <input type="text" name="agentId" value="admin">
            <input type="button" value="start" onclick="submitform('start')">
            <input type="button" value="stop" onclick="submitform('stop')">
            <input type="button" value="status" onclick="submitform('status')">
            <input type="button" value="transfer" onclick="submitform('transfer')">
            <input type="button" value="play" onclick="submitform('play')">
            <input type="button" value="direct" onclick="submitDirectform('direct')">
            <!--input value="Submit" type="submit" onclick="submitform()"-->
            <!-- <button type="submit">Send my greetings</button> -->
        </form>
    </div>
    <div id="result">

    </div>
</body>

</html>
