<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript">
  </script>
</head>

<body>
  <div id="sse">
    <a href="javascript:StartAudioStream('10.122.66.70', 5800, '6006', 'aicc301', false)">상담원 청취 시작</a><br>
    <a href="javascript:StartAudioStream('10.122.66.70', 5800, '6006', 'aicc301', true)">상담원 대화 시작</a><br>
    <a href="javascript:StopAudioStream()">상담원 청취/대화 종료</a><br>
    <a href="chrome://flags/#unsafely-treat-insecure-origin-as-secure">Chrome config</a><br>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename = 'audio_stream.js') }}"></script>
</body>

</html>
